{% extends "layout/layout.html.twig" %}

{% block head %}
    {{ parent()}} 

{% endblock %}

{% block content %}
    {{ parent()}} 

{% endblock %}

{% block corpo %}
    <h4 class="text mb-4" style="color: #006c3a" >Configurações do módulo</h4>
    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">  
        <form  id="form"  name="form"  class="form col-12" method="POST" enctype="multipart/form-data" >
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <b>Informações da safra</b>
                </div>
                <div class="col-md-6 col-lg-6">
                    <label for="dataInicioSafra">Data início:</label>
                    <input name="dataInicioSafra" type="date" class="form-control"  id="dataInicioSafra"  value="{{dados.dataInicioSafra}}"/>
                    
                </div>
                <div class="col-md-6 col-lg-6">
                   <label for="dataTerminoSafra">Data término:</label>
                    <input name="dataTerminoSafra" type="date" class="form-control" placeholder="Email.." id="dataTerminoSafra" value="{{dados.dataTerminoSafra}}"/>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div id="avisoDataSafra" style="margin-top: 5px"></div>
                </div>
            </div>
            <div id="avisoSenha" style="margin-top: 5px"></div>
            <div id="aviso" style="margin-top: 5px"></div>
            <button type="submit" class="btn btn-success" style="margin-top: 20px;float: right">Atualizar</button>
        </form>      
    </div>


    <div class="modal fade" id="sucesso" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Informações atualizadas com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/">OK</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="erro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro ao realizar a operação! Contate o T.I.!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-danger text-center" href="/scm/public_html/configuracoes">OK</a></center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#7").removeClass('nav-item');
            $("#7").addClass("nav-item active");
        });
    </script>
    <script src="js/configuracoes/configuracoes.js" type="text/javascript"></script> 

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/sb-admin.min.js"></script>

{% endblock %}
