{% extends "layout/layout.html.twig" %}

{% block title %}- Dashboard{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="libs/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.structure.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

{% endblock %}
{% block content %}
    {{ parent()}} 
{% endblock %}

{% block corpo %}
    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">

        <div class="container-fluid" style="padding-left: 0px">
            <!--
            <div class="row col-md-12">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success-gadient ">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">

                                <div class="col-md-8" style="padding: 0px;margin: 0px">
                                    <h1>R$ {{custo01}}</h1>
                                    <h6></h6></div>
                                <div class="col-md-3" style="padding: 0px" >
                                    <center><h4>Linha</h4></center>
                                    <center><h1> 01</h1></center>
                                </div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" >
                            <span class="float-left"></span>
                            <span class="float-right">Custo por tonelada recebida
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success-gadient ">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">

                                <div class="col-md-8" style="padding: 0px;margin: 0px">
                                    <h1>R$ {{custo02}}</h1>
                                    <h6></h6></div>
                                <div class="col-md-3" style="padding: 0px" >
                                    <center><h4>Linha</h4></center>
                                    <center><h1> 02</h1></center>
                                </div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" >
                            <span class="float-left"></span>
                            <span class="float-right">Custo por tonelada recebida
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success-gadient ">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">

                                <div class="col-md-8" style="padding: 0px;margin: 0px">
                                    <h1>R$ {{custo03}}</h1>
                                    <h6></h6></div>
                                <div class="col-md-3" style="padding: 0px" >
                                    <center><h4>Linha</h4></center>
                                    <center><h1> 03</h1></center>
                                </div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" >
                            <span class="float-left"></span>
                            <span class="float-right">Custo por tonelada recebida
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success-gadient ">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">

                                <div class="col-md-8" style="padding: 0px;margin: 0px">
                                    <h1>R$ {{custo04}}</h1>
                                    <h6></h6></div>
                                <div class="col-md-3" style="padding: 0px" >
                                    <center><h4>Linha</h4></center>
                                    <center><h1> 04</h1></center>
                                </div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" >
                            <span class="float-left"></span>
                            <span class="float-right">Custo por tonelada recebida
                            </span>
                        </a>
                    </div>
                </div>-->
            <div class="row col-md-12">
                <!--NOVOS WIDGET-->
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white" style="background-color: #FF7F50">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Linha 01</h6>
                                    <h5>R$ {{custoLinhaDespalhaSecador.custoLinhaDespalhaSecador01}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoTotalLinha/1">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                    title="Custo por tonelada recebida, incluindo custo linha de recebimento, despalha e secador, por material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white" style="background-color: #FF7F50">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Linha 02</h6>
                                    <h5>R$ {{custoLinhaDespalhaSecador.custoLinhaDespalhaSecador02}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoTotalLinha/2">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                    title="Custo por tonelada recebida, incluindo custo linha de recebimento, despalha e secador, por material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white" style="background-color: #FF7F50">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Linha 03</h6>
                                    <h5>R$ {{custoLinhaDespalhaSecador.custoLinhaDespalhaSecador03}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoTotalLinha/3">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                    title="Custo por tonelada recebida, incluindo custo linha de recebimento, despalha e secador, por material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white" style="background-color: #FF7F50">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Linha 04</h6>
                                    <h5>R$ {{custoLinhaDespalhaSecador.custoLinhaDespalhaSecador04}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoTotalLinha/4">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                    title="Custo por tonelada recebida, incluindo custo linha de recebimento, despalha e secador, por material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white" style="background-color: #FF7F50">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Absoluto</h6>
                                    <h5>R$ {{custoLinhaDespalhaSecador.custoLinhaDespalhaSecadorAbsoluto}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoTotalLinhas">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;background-color: #FF7F50;border-color: #FF7F50" 
                                    title="Custo ABSOLUTO por tonelada recebida, incluindo custo linha de recebimento, despalha e secador, por material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FF6347">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Armazéns</h6>
                                    <h5>R$ {{custoCCArmazensUnidadeCondensadoras}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoArmazens">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF6347;border-color: #FF6347" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FF6347;border-color: #FF6347" 
                                    title="ARMAZÉNS E UNIDADE CONDENSADORAS | Custo ABSOLUTO com Armazéns (1, 2, 3, 4, e 5) e Unidade Condensadoras">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #DC143C">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Sistema AR</h6>
                                    <h5>R$ {{custoCasaCompressorCasaCompressorTorreSistemaArComprimidoTorre}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoSistemaAR">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #DC143C;border-color: #DC143C" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #DC143C;border-color: #DC143C" 
                                    title="CASA COMPRESSOR TORRE, SISTEMA AR COMPRIMIDO E CASA COMPRESSORES |
                                    Custo ABSOLUTO com Casa Compressor Torr, Sistema Ar Comprimido e Casa Compressores">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #B22222">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Empilhadeiras</h6>
                                    <h5>R$ {{custoCCEmpilhadeiras}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEmpilhadeiras">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #B22222;border-color: #B22222" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #B22222;border-color: #B22222" 
                                    title="EMPILHADEIRAS | Custo ABSOLUTO CC empilhadeiras">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <!--
                                     <div class="col-xl-2 col-sm-4 mb-2">
                     <div class="card text-white " style="background-color: #FF8C00">
                         <div class="card-body" style="padding: 5px;margin: 0px">
                             <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                 <div class="col-md-12" style="padding: 0px;margin: 0px">
                                     <h6>Despalha</h6>
                                     <h5>R$ {{custosDespalha.custoDespalhaMaterialRecebido}}</h5>
                                     <h6></h6></div>
                             </div>
                         </div>
 
                         <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                             <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                     style="float: right;box-shadow: none;;background-color: #FF8C00;border-color: #FF8C00" 
                                     title="DESPALHA | Custo CC Despalha por material recebido">
                                 <i class="fa fa-info" aria-hidden="true"></i>
                             </button>
                         </a>
                     </div>
                 </div>-->
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FF8C00">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Debulha Abs.</h6>
                                    <h5>R$ {{custosDespalha.custoCCDespalha}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoDespalha">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF8C00;border-color: #FF8C00" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FF8C00;border-color: #FF8C00" 
                                    title="DEBULHA ABSOLUTO | Custo CC DEBULHA ABSOLUTO">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FF4500">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Silos de Armaz.</h6>
                                    <h5>R$ {{custoSilosArmazenagem.custoSilosArmazenagemMaterialRecebido}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoSilosArmazenagemPorMaterial">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF4500;border-color: #FF4500" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FF4500;border-color: #FF4500" 
                                    title="SILOS DE ARMAZENAGEMO | Custo CC Silos de Armazenagem por total de material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FF4500">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Absoluto</h6>
                                    <h5>R$ {{custoSilosArmazenagem.custoCCSilosArmazenagem}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoSilosArmazenagem">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF4500;border-color: #FF4500" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FF4500;border-color: #FF4500" 
                                    title="SILOS DE ARMAZENAGEM ABSOLUTO | Custo CC Silos de Armazenagem ABSOLUTO">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #4169E1">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Descarte</h6>
                                    <h5>R$ {{custoDescarte.custoDescarteMaterialRecebido}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoDescartePorMaterial">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #4169E1;border-color: #4169E1" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #4169E1;border-color: #4169E1" 
                                    title="CUSTO DESCARTE">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #4169E1">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Absoluto</h6>
                                    <h5>R$ {{custoDescarte.custoCCDescarte}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >

                            <form method="POST" action="/scm/public_html/custoDescarte">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #4169E1;border-color: #4169E1" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #4169E1;border-color: #4169E1" 
                                    title="DESCARTE ABSOLUTO">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #00BFFF">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Torre </h6>
                                    <h5>R$ {{custoTorreClassificacao}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >

                            <form method="POST" action="/scm/public_html/custoTorre">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #00BFFF;border-color: #00BFFF" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #00BFFF;border-color: #00BFFF" 
                                    title="Custo com CC Torre de Classificação, Tratamento Torre e Ensaque Torre ABOSLUTO">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #00BFFF">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Torre Absoluto</h6>
                                    <h5>R$ {{custoTorreClassificacaoAbsoluto}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >

                            <form method="POST" action="/scm/public_html/custoTorreAbsoluto">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #00BFFF;border-color: #00BFFF" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #00BFFF;border-color: #00BFFF" 
                                    title="Custo com CC Torre de Classificação, Tratamento Torre e Ensaque Torre ABOSLUTO">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #800080">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>TSI </h6>
                                    <h5>R$ {{custoTSI}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >

                            <form method="POST" action="/scm/public_html/custoTSI">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #800080;border-color: #800080" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #800080;border-color: #800080" 
                                    title="Custo com CC TSI ABOSLUTO">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #800080">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>TSI Absoluto</h6>
                                    <h5>R$ {{custoTSIAbsoluto}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >

                            <form method="POST" action="/scm/public_html/custoTSIAbsoluto">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #800080;border-color: #800080" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #800080;border-color: #800080" 
                                    title="Custo com CC TSI ABOSLUTO">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-4 mb-4">
                    <div class="card text-white " style="background-color: #FF0000">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Custo Total</h6>
                                    <h5>R$ {{custoTotal}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoTotal">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FF0000;border-color: #FF0000" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FF0000;border-color: #FF0000" 
                                    title="CUSTO TOTAL | Somatário com custo do Recebimento, Despalha,Secador, Debulha, Silos de Armazenagem, Descarte 01, Descarte 02, Custo Armazéns, Unidades Condensadoras, Empilhadeiras, Compressor Torre, Sistema Ar comprimido, Casa de Compressor, Torre de Classificação, Tratamento Torre, Ensaque Torre eTSI">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-4 mb-4">
                    <div class="card text-white " style="background-color: #32CD32">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Total recebido</h6>
                                    <h5>{{totalMaterialRececbido}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #32CD32;border-color: #32CD32" 
                                    title="Total de material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>

            </div>
            <!-- CUSTO DESPALHA
            <div class="row col-md-12">

                <div class="col-md-6">
                    <h5>Custos da despalha/ material recebido</h5>
                    <div class="row">



                    </div>
                </div>
            <!-- CUSTO SILOS DE ARMAZENAGEM
            <div class="col-md-6">
                <h5>Custos dos silos de armazenagem/ material recebido</h5>
                <div class="row">


                </div>
            </div>
        </div>
            <!-- CUSTO DESCARTE
            <div class="row col-md-12">

                <div class="col-md-6">
                    <h5>Custos do descarte/ material recebido</h5>
                    <div class="row">

                        <div class="col-xl-6 col-sm-6 mb-6">
                            <div class="card text-white bg-success-gadient ">
                                <div class="card-body" style="padding: 5px;margin: 0px">
                                    <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                        <div class="col-md-12" style="padding: 0px;margin: 0px">
                                            <h5>Descarte</h5>
                                            <h3>R$ {{custoDescarte.custoDescarteMaterialRecebido}}</h3>
                                            <h6></h6></div>
                                    </div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" >
                                    <span class="float-left"></span>
                                    <span class="float-right" style="font-size: 8px">Custo silos de armaz. por material recebido
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 mb-6">
                            <div class="card text-white bg-success ">
                                <div class="card-body" style="padding: 5px;margin: 0px">
                                    <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                        <div class="col-md-12" style="padding: 0px;margin: 0px">
                                            <h5>Absoluto</h5>
                                            <h3>R$ {{custoDescarte.custoCCDescarte}}</h3>
                                            <h6></h6></div>
                                    </div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" >
                                    <span class="float-left"></span>
                                    <span class="float-right" style="font-size: 8px">Custo silos de armazenagem absoluto
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- CUSTO ARMAZENS + UNIDADE CONDEMSDORAS

            <div class="col-md-3">
                <h5>Custos do armazéns</h5>
                <div class="row">

                    <div class="col-xl-12 col-sm-12 mb-12">
                        <div class="card text-white bg-success ">
                            <div class="card-body" style="padding: 5px;margin: 0px">
                                <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                    <div class="col-md-12" style="padding: 0px;margin: 0px">
                                        <h5>Absoluto</h5>
                                        <h3>R$ {{custoCCArmazensUnidadeCondensadoras}}</h3>
                                        <h6></h6></div>
                                </div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" >
                                <span class="float-left"></span>
                                <span class="float-right" style="font-size: 8px">Custo silos de armaz. por material recebido
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- CUSTO EMPILHADEIRAS
            <div class="col-md-3">
                <h5>Custos empilhadeiras</h5>
                <div class="row">


                </div>
            </div>
        </div>
        <div class="row col-md-12">

            <!-- CUSTO COMPRESSOR TORRE + SISTEMA DE AR COMPRIMIDO TORRE + CASA DE COMPRESSORES
            <div class="col-md-3">
                <h5>Custos sistema ar</h5>
                <div class="row">


                </div>
            </div>
            <div class="col-md-3">
                <h5>Custo total</h5>
                <div class="row">

                    <div class="col-xl-12 col-sm-12 mb-12">
                        <div class="card text-white bg-danger-gadient ">
                            <div class="card-body" style="padding: 5px;margin: 0px">
                                <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                    <div class="col-md-12" style="padding: 0px;margin: 0px">
                                        <h5>Custo total</h5>
                                        <h3>R$ {{custoTotal}}</h3>
                                        <h6></h6></div>
                                </div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" >
                                <span class="float-left"></span>
                                <span class="float-right" style="font-size: 8px">Custo total
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
            <div class="row col-md-12">
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #98FB98">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Torre Classificação</h6>
                                    <h5>R$ {{custoEnergiaTorre}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaTorre">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #98FB98;border-color: #98FB98" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #98FB98;border-color: #98FB98" 
                                    title="Custo energia torre de classificação por saco">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #98FB98">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>TSI </h6>
                                    <h5>R$ {{custoEnergiaTSI}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaTSI">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #98FB98;border-color: #98FB98" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #98FB98;border-color: #98FB98" 
                                    title="Custo energia TSI por saco">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #556B2F">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Secador 01</h6>
                                    <h5>R$ {{custoGLPSecador.custoGLPSecador01}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoSecador/1">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #556B2F;border-color: #556B2F" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #556B2F;border-color: #556B2F" 
                                    title="Custo GLP Secador 01 por total de material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #556B2F">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Secador 02</h6>
                                    <h5>R$ {{custoGLPSecador.custoGLPSecador02}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoSecador/2">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #556B2F;border-color: #556B2F" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #556B2F;border-color: #556B2F" 
                                    title="Custo GLP Secador 02 por total de material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #556B2F">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Secador 03</h6>
                                    <h5>R$ {{custoGLPSecador.custoGLPSecador03}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoSecador/3">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #556B2F;border-color: #556B2F" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #556B2F;border-color: #556B2F" 
                                    title="Custo GLP Secador 03 por total de material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #556B2F">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Secador 04</h6>
                                    <h5>R$ {{custoGLPSecador.custoGLPSecador04}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoSecador/4">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #556B2F;border-color: #556B2F" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #556B2F;border-color: #556B2F" 
                                    title="Custo GLP Secador 04 por total de material recebido">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #556B2F">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Absoluto</h6>
                                    <h5>R$ {{custoGLPSecador.custoGLPSecadorTotal}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoTotalSecador">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #556B2F;border-color: #556B2F" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #556B2F;border-color: #556B2F" 
                                    title="Custo GLP Absoluto">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #556B2F">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Custo médio</h6>
                                    <h5>R$ {{custoGLPPorToneladaRecebida}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >

                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #556B2F;border-color: #556B2F" 
                                    title="Custo GLP por tonelada recebida">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Linha 01</h6>
                                    <h5>R$ {{custoEnergiaLinhas.custoEnergiaLinha01}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaLinha01">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo com energia da linha 01 por tonelada recebida">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Linha 02</h6>
                                    <h5>R$ {{custoEnergiaLinhas.custoEnergiaLinha02}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaLinha02">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo com energia da linha 02 por tonelada recebida">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Linha 03</h6>
                                    <h5>R$ {{custoEnergiaLinhas.custoEnergiaLinha03}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaLinha03">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo com energia da linha 03 por tonelada recebida">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Linha 04</h6>
                                    <h5>R$ {{custoEnergiaLinhas.custoEnergiaLinha04}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaLinha04">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo com energia da linha 04 por tonelada recebida">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Energia linhas</h6>
                                    <h5>R$ {{custoEnergiaToneladaRecebida}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo energia por tonelada recebida">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Armazén 01</h6>
                                    <h5>R$ {{custoEnergiaArmazens.custoArmazen01}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaArmazen01">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo armazén 01 com energia">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Armazén 02</h6>
                                    <h5>R$ {{custoEnergiaArmazens.custoArmazen02}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaArmazen02">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo armazén 02 com energia">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Armazén 03</h6>
                                    <h5>R$ {{custoEnergiaArmazens.custoArmazen03}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaArmazen03">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo armazén 03 com energia">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Armazén 04</h6>
                                    <h5>R$ {{custoEnergiaArmazens.custoArmazen04}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaArmazen04">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo armazén 04 com energia">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Armazén 05</h6>
                                    <h5>R$ {{custoEnergiaArmazens.custoArmazen05}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaArmazen05">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo armazén 05 com energia">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Armazén total</h6>
                                    <h5>R$ {{custoEnergiaArmazens.custoEnergiaTotalArmazens}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaTotalArmazens">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Custo armazén total com energia">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 mb-2">
                    <div class="card text-white " style="background-color: #FFB452">
                        <div class="card-body" style="padding: 5px;margin: 0px">
                            <div class="row col-md-12" style="padding: 0px;margin: 0px">
                                <div class="col-md-12" style="padding: 0px;margin: 0px">
                                    <h6>Energia total</h6>
                                    <h5>R$ {{energiaTotal}}</h5>
                                    <h6></h6></div>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" style="padding: 0px" >
                            <form method="POST" action="/scm/public_html/custoEnergiaTotal">
                                <button type="submit" class="btn btn-success"  data-toggle="tooltip" data-placement="bottom"  href=""
                                        style="float: right;box-shadow: none;background-color: #FFB452;border-color: #FFB452" 
                                        title="Download informações">
                                    <i  class="fa fa-download" aria-hidden="true"></i>

                                </button>
                            </form>
                            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" 
                                    style="float: right;box-shadow: none;;background-color: #FFB452;border-color: #FFB452" 
                                    title="Energia total">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>



{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}

    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="js/sb-admin.min.js"></script>

    <script src="js/dashboard/dashboard.js" type="text/javascript"></script>
    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#1").removeClass('nav-item');
            $("#1").addClass("nav-item active");
        });
        $(document).ready(function () {
            $('#idInformacao').autocomplete(
                    {
                        appendTo: "#adicionar",
                        source: "pesquisaID",
                        minLength: 1,

                        select: function (event, ui) {
                            // prevent autocomplete from updating the textbox
                            event.preventDefault();
                            // manually update the textbox and hidden field
                            $(this).val(ui.item.label);
                            $("#titulo").val(ui.item.value);
                        }
                    });

        });
    </script>

{% endblock %}
