{% extends "layout/layout.html.twig" %}

{% block title %}- Dashboard{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="libs/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.structure.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

{% endblock %}
{% block content %}
    {{ parent()}} 
{% endblock %}

{% block corpo %}
    <h4 class="text mb-4" style="color: #006c3a" >Relatório de Dados</h4>

    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">
        <div class="container-fluid" style="padding-left: 0px">
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100" style="background-color: #FF4500">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-industry"></i>
                            </div>
                            <div class="mr-5">Consumo Diesel</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#dielselConsumoPeriodoTotal">
                            <span class="float-left"></span>
                            <span class="float-right">Consumo por período
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#dieselConsumoPeriodoTotalGerador">
                            <span class="float-left"></span>
                            <span class="float-right">Consumo por período/gerador
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3 ">
                    <div class="card text-white bg-success-gadient o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-flash"></i>
                            </div>
                            <div class="mr-5">Geração de Energia</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#energiaConsumoPeriodoTotal">
                            <span class="float-left"></span>
                            <span class="float-right">Energia gerada por período
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#energiaConsumoPeriodoTotalGerador">
                            <span class="float-left"></span>
                            <span class="float-right">Energia gerada/secador e por período
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100" style="background-color: #FF0000">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-refresh"></i>
                            </div>
                            <div class="mr-5">Consumo GLP</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#glpConsumoPeriodoTotal">
                            <span class="float-left"></span>
                            <span class="float-right">Consumo por período
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#glpConsumoPeriodoTotalSecador">
                            <span class="float-left"></span>
                            <span class="float-right">Consumo por período/secador
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100" style="background-color: #DC143C">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-plug"></i>
                            </div>
                            <div class="mr-5">Consumo Energia Cemig</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#energiaCemigPeriodoTotal">
                            <span class="float-left"></span>
                            <span class="float-right">Consumo por período
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#energiaCemigMaisGeradaPeriodoTotal">
                            <span class="float-left"></span>
                            <span class="float-right">Consumo de energia CEMIG mais geração interna
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100" style="background-color: #5897fb">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-users"></i>
                            </div>
                            <div class="mr-5">Despalha</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" data-toggle="modal" data-target="#custoDespalhaPorPeriodo">
                            <span class="float-left"></span>
                            <span class="float-right">Custo despalha por período
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="erro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro ao realizar a operação! Contate o T.I.!</h5>
                </div>
                <div class="modal-body">
                    <center>ERRO: <div id="erroDiv"></div></center>
                    <center><a class="btn btn-danger text-center" href="/scm/public_html/controleGeradores">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <!-- modais -->
    <div class="modal fade" id="glpConsumoPeriodoTotal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Consumo GLP/Consumo por período</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form01"  action="/scm/public_html/glpConsumoPeriodoTotal" name="form01"  class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="form01DataInicial">Data inicial:</label>
                                <input required=""  name="form01DataInicial" type="date" class="form-control" placeholder="Data ..." id="form01DataInicial"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form01DataFinal">Data final:</label>
                                <input required=""  name="form01DataFinal" type="date" class="form-control" placeholder="Data ..." id="form01DataFinal"/>

                            </div>
                            <div class="col-md-12">
                                <div id="form01DataInicialviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Gerar</button>
                    </form>        
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="glpConsumoPeriodoTotalSecador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Consumo GLP/Consumo por período</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form02"  action="/scm/public_html/glpConsumoPeriodoTotalSecador" name="form02"  class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-12 ">
                                <label for="form02Secador">Secador:</label>
                                <select id="form02Secador" name="form02Secador"  required="" class="form-control" >
                                    {% for secador in secadores %}
                                        <option value="{{secador.idSCMSecador}}" class="form-control"> {{secador.descricao}} | {{secador.local}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form02DataInicial">Data inicial:</label>
                                <input required=""  name="form02DataInicial" type="date" class="form-control" placeholder="Data ..." id="form02DataInicial"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form02DataFinal">Data final:</label>
                                <input required=""  name="form02DataFinal" type="date" class="form-control" placeholder="Data ..." id="form02DataFinal"/>

                            </div>
                            <div class="col-md-12">
                                <div id="form01DataInicialviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Gerar</button>
                    </form>        
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="dielselConsumoPeriodoTotal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Consumo diesel por período</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form02"  action="/scm/public_html/dielselConsumoPeriodoTotal" name="form02"  class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="form02DataInicial">Data inicial:</label>
                                <input required=""  name="form02DataInicial" type="date" class="form-control" placeholder="Data ..." id="form02DataInicial"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form02DataFinal">Data final:</label>
                                <input required=""  name="form02DataFinal" type="date" class="form-control" placeholder="Data ..." id="form02DataFinal"/>

                            </div>
                            <div class="col-md-12">
                                <div id="form01DataInicialviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Gerar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dieselConsumoPeriodoTotalGerador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Consumo disel/secador por período</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form02"  action="/scm/public_html/dieselConsumoPeriodoTotalGerador" name="form02"  class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-12 ">
                                <label for="form04Gerador">Gerador:</label>
                                <select id="form04Gerador" name="form04Gerador"  required="" class="form-control" >
                                    {% for gerador in geradores %}
                                        <option value="{{gerador.idSCMGerador}}" class="form-control"> {{gerador.descricao}} | {{gerador.local}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form04DataInicial">Data inicial:</label>
                                <input required=""  name="form04DataInicial" type="date" class="form-control" placeholder="Data ..." id="form04DataInicial"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form04DataFinal">Data final:</label>
                                <input required=""  name="form04DataFinal" type="date" class="form-control" placeholder="Data ..." id="form04DataFinal"/>

                            </div>
                            <div class="col-md-12">
                                <div id="form01DataInicialviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Gerar</button>
                    </form>        
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="energiaConsumoPeriodoTotal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Geração energia por período</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form02"  action="/scm/public_html/energiaConsumoPeriodoTotal" name="form02"  class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="form05DataInicial">Data inicial:</label>
                                <input required=""  name="form05DataInicial" type="date" class="form-control" placeholder="Data ..." id="form05DataInicial"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form05DataFinal">Data final:</label>
                                <input required=""  name="form05DataFinal" type="date" class="form-control" placeholder="Data ..." id="form05DataFinal"/>

                            </div>
                            <div class="col-md-12">
                                <div id="form01DataInicialviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Gerar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="energiaConsumoPeriodoTotalGerador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Geração energia/gerador e por período</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form02"  action="/scm/public_html/energiaConsumoPeriodoTotalGerador" name="form02"  class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-12 ">
                                <label for="form06Gerador">Gerador:</label>
                                <select id="form06Gerador" name="form06Gerador"  required="" class="form-control" >
                                    {% for gerador in geradores %}
                                        <option value="{{gerador.idSCMGerador}}" class="form-control"> {{gerador.descricao}} | {{gerador.local}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form06DataInicial">Data inicial:</label>
                                <input required=""  name="form06DataInicial" type="date" class="form-control" placeholder="Data ..." id="form06DataInicial"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form06DataFinal">Data final:</label>
                                <input required=""  name="form06DataFinal" type="date" class="form-control" placeholder="Data ..." id="form06DataFinal"/>

                            </div>
                            <div class="col-md-12">
                                <div id="form01DataInicialviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Gerar</button>
                    </form>        
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="energiaCemigPeriodoTotal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Consumo energia CEMIG por período</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form02"  action="/scm/public_html/energiaCemigPeriodoTotal" name="form07"  class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="form07DataInicial">Data inicial:</label>
                                <input required=""  name="form07DataInicial" type="month" class="form-control" placeholder="Data ..." id="form07DataInicial"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form07DataFinal">Data final:</label>
                                <input required=""  name="form07DataFinal" type="month" class="form-control" placeholder="Data ..." id="form07DataFinal"/>

                            </div>
                            <div class="col-md-12">
                                <div id="form01DataInicialviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Gerar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="energiaCemigMaisGeradaPeriodoTotal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Consumo energia CEMIG por período</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form02"  action="/scm/public_html/energiaCemigMaisGeradaPeriodoTotal" name="form07"  class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="form08DataInicial">Data inicial:</label>
                                <input required=""  name="form08DataInicial" type="date" class="form-control" placeholder="Data ..." id="form08DataInicial"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form08DataFinal">Data final:</label>
                                <input required=""  name="form08DataFinal" type="date" class="form-control" placeholder="Data ..." id="form08DataFinal"/>

                            </div>
                            <div class="col-md-12">
                                <div id="form01DataInicialviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Gerar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="custoDespalhaPorPeriodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Custo despalha por período</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form02"  action="/scm/public_html/custoDespalhaPorPeriodo" name="form09"  class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="form09DataInicial">Data inicial:</label>
                                <input required=""  name="form09DataInicial" type="date" class="form-control" placeholder="Data ..." id="form09DataInicial"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="form09DataFinal">Data final:</label>
                                <input required=""  name="form09DataFinal" type="date" class="form-control" placeholder="Data ..." id="form09DataFinal"/>

                            </div>
                            <div class="col-md-12">
                                <div id="form01DataInicialviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Gerar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}

    <script src="js/relatorio/relatorio.js"></script>


    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="js/sb-admin.min.js"></script>

    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#6").removeClass('nav-item');
            $("#6").addClass("nav-item active");
        });
    </script>


{% endblock %}
