{% extends "layout/layout.html.twig" %}

{% block title %}- Dashboard{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="libs/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.structure.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="libs/fullcalendar/fullcalendar.css" />
    <style>
        #calendario{
            position: relative;
            width: 70%;
            margin: 0px auto;
        }        
    </style>
{% endblock %}
{% block content %}
    {{ parent()}} 
{% endblock %}

{% block corpo %}
    <h4 class="text mb-4" style="color: #006c3a" >Apontamento de Dados - Consumo Energia Cemig</h4>

    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">
        <div class="container-fluid" style="padding-left: 0px">
            <div class="row">
                <div class="col-md-1 " >
                    <a class=" btn btn-primary" data-toggle="modal" data-target="#cadastro" style="margin-top: 0px;color: #fff;font-size: 12px;margin-bottom: 5px" title="Adicionar apontamento"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</a>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12 ">
                    {% if apontamentos != null %}
                        <div class="table-responsive" style="background-color: #fff;padding-top: 30px;padding-bottom: 30px">
                            <table class="table table-striped table-bordered" width="100%" id="dataTable" cellspacing="0">
                                <thead  >
                                    <tr>
                                        <th><center>ID</center></th>
                                <th><center>Mês referência</center></th>
                                <th><center>Consumo (KWH)</center></th>
                                <th><center>Valor (R$)</center></th>
                                <th><center>Usuário</center></th>
                                <th><center>Ações</center></th>

                                </tr>
                                </thead>
                                <tbody>
                                    {% for apontamento in apontamentos %}
                                        <tr>       
                                            <td class="text-left">{{apontamento.idApontamento}}</td>
                                            <td class="text-left">{{apontamento.mesReferencia | date('M-Y')}}</td>
                                            <td class="text-left">{{apontamento.consumo}}</td>
                                            <td class="text-left">{{apontamento.valorPago}}</td>
                                            <td class="text-left">{{apontamento.usuario}}</td>

                                            <td class="text-center">
                                                <a onclick="editar('{{apontamento.idApontamento}}', '{{apontamento.mesReferencia}}', '{{apontamento.consumo}}', '{{apontamento.valorPago}}')" title="Editar apontamento" style="text-decoration: none;color: #fff">
                                                    <button type="button" title="Editar apontamento" class="btn btn-warning btn-sm" style="color: #fff">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                                <a onclick="desativar('{{apontamento.idApontamento}}')" title="Deletar apontamento" style="text-decoration: none;color: #ff0000"> 
                                                    <button type="button" class="btn btn-danger btn-sm" style="color: #fff">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </a>

                                            </td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                    {% else %}
                        <div class="alert alert-danger animated fadeInUp">
                            <center>Sem contas cadastradas!</center>
                        </div>

                    {%endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Apontamento de consumo energia Cemig</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formCadastro"  name="formCadastro"  class="form" method="POST" enctype="multipart/form-data" >
                        <label for="mesReferencia">Mês referência:</label>
                        <input type="month" id="mesReferencia" name="mesReferencia" class="form-control">

                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="consumo">Consumo (KWH):</label>
                                <input required=""  name="consumo" type="number" class="form-control" placeholder="Consumo..." id="consumo"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="valorPago">Valor pago (R$):</label>
                                <input required=""  name="valorPago" type="number" step="0.01" class="form-control" placeholder="Valor pago..." id="valorPago"/>
                            </div>


                            <div class="col-md-12 ">
                                <div id="aviso" style="margin-top: 5px">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Salvar</button>
                    </form>        
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Editar apontamento de consumo energia Cemig</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formEditar"  name="formEditar"  class="form" method="POST" enctype="multipart/form-data" >
                        <label for="mesReferenciaEditar">Mês referência:</label>
                        <input type="month" id="mesReferenciaEditar" name="mesReferenciaEditar" class="form-control">
                        <input type="text" id="idApontamentoEditar" name="idApontamentoEditar" hidden="">

                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="consumoEditar">Consumo (KWH):</label>
                                <input required=""  name="consumoEditar" type="number" class="form-control" placeholder="Consumo..." id="consumoEditar"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="valorPago">Valor pago (R$):</label>
                                <input required=""  name="valorPagoEditar" type="number" step="0.01" class="form-control" placeholder="Valor pago..." id="valorPagoEditar"/>
                            </div>


                            <div class="col-md-12 ">
                                <div id="avisoEditar" style="margin-top: 5px">
                                </div>
                            </div>
                        </div>
                                                <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close" style="margin-top: 20px;color: #fff">Cancelar</button>

                        <button type="submit" class=" btn btn-success" style="margin-top: 20px;"> Salvar</button>
                    </form>        
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="infoApontamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Informação apontamento de consumo de GLP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formInformacao"  name="formInformacao"  class="form" method="POST" enctype="multipart/form-data" >
                        <label for="localizacaoInfo">Localização:</label>
                        <input disabled="" name="localizacaoInfo" type="text" class="form-control" id="localizacaoInfo"/>
                        <input hidden="" name="idApontamentoInfo" type="text" class="form-control" id="idApontamentoInfo"/>
                        <input hidden="" name="idSecadorInfo" type="text" class="form-control" id="idGeradorInfo"/>
                        <label for="secadorInfo">Secador:</label>
                        <input disabled="" name="secadorInfo" type="text" class="form-control" id="secadorInfo"/>

                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="valorInicialInfo">Consumo inicial:</label>
                                <input disabled="" name="valorInicialInfo" type="number" class="form-control"  id="valorInicialInfo"/>
                                <label for="valorFinalInfo">Consumo final:</label>
                                <input disabled=""  name="valorFinalInfo" type="number" class="form-control" id="valorFinalInfo"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="dataReferenciaInfo">Data referência:</label>
                                <input disabled="" name="dataReferenciaInfo" type="text" class="form-control"  id="dataReferenciaInfo"/>
                                <label for="valorTotalProduzidoInfo">Consumo total:</label>
                                <input disabled=""  name="valorTotalProduzidoInfo" type="number" class="form-control" id="valorTotalProduzidoInfo"/>
                            </div>
                        </div>
                        <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close" style="margin-top: 20px;color: #fff">Fechar</button>

                        <a class=" btn btn-warning" onclick="editar();"style="margin-top: 20px;color: #fff;font-size: 12px" title="Editar apontamento"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                        <a class=" btn btn-danger" onclick="desativar();"style="margin-top: 20px;color: #fff;font-size: 12px" title="Deletar apontamento"><i class="fa fa-trash" aria-hidden="true"></i> Deletar</a>



                    </form>        
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="desativar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Deletar apontamento</h5>

                </div>
                <div class="modal-body">
                    <form  id="formDesativar"  name="formDesativar"   class="form" method="POST" enctype="multipart/form-data" >
                        <label for="nomeDesativar">Deseja realmente deletar o apontamento?</label>
                        <input hidden="" name="idDesativar" type="text" class="form-control"  id="idDesativar"/><br>
                        <center>
                            <a class=" btn btn-dark" href="/scm/public_html/apontamentoConsumoCemig" style="margin-top: 5px;color: #fff;font-size: 12px" title="Cancelar"></i> Cancelar</a>
                            <button type="submit" class=" btn btn-danger" style="margin-top: 5px;">Desativar</button>
                        </center>
                    </form>        
                </div>
            </div>
        </div>
    </div>   



    <div class="modal fade" id="sucessoDesativar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Apontamento excluído com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/apontamentoConsumoCemig">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sucessoEditar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dados do atualizados com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/apontamentoConsumoCemig">OK</a></center>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="sucessoCadastro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Apontamento realizado com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/apontamentoConsumoCemig">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="erro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro ao realizar a operação! Contate o T.I.!</h5>
                </div>
                <div class="modal-body">
                    <center>ERRO: <div id="erroDiv"></div></center>
                    <center><a class="btn btn-danger text-center" href="/scm/public_html/apontamentoConsumoCemig">OK</a></center>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}

    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="js/sb-admin.min.js"></script>
    <script src="js/apontamento/apontamentoConsumoCemig/apontamentoConsumoCemig.js"></script>

    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
                            $(document).ready(function () {
                                $("#2").removeClass('nav-item');
                                $("#2").addClass("nav-item active");
                            });
    </script>


{% endblock %}
