{% extends "layout/layout.html.twig" %}

{% block title %}- Dashboard{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="libs/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.structure.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

{% endblock %}
{% block content %}
    {{ parent()}} 
{% endblock %}

{% block corpo %}
    <h4 class="text mb-4" style="color: #006c3a" >Apontamento de Dados</h4>

    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">
        <div class="container-fluid" style="padding-left: 0px">
            <div class="row">
                <div class="col-xl-4 col-sm-6 mb-4">
                    <div class="card text-white o-hidden h-100" style="background-color: #FF4500">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-industry"></i>
                            </div>
                            <div class="mr-5">Consumo Diesel</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/scm/public_html/apontamentoDiesel">
                            <span class="float-left"></span>
                            <span class="float-right">Realizar apontamento
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-4">
                    <div class="card text-white bg-success-gadient o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-flash"></i>
                            </div>
                            <div class="mr-5">Geração de Energia</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/scm/public_html/apontamentoGeracaoEnergia">
                            <span class="float-left"></span>
                            <span class="float-right">Realizar apontamento
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-4">
                    <div class="card text-white o-hidden h-100" style="background-color: #FF0000">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-refresh"></i>
                            </div>
                            <div class="mr-5">Consumo GLP</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/scm/public_html/apontamentoConsumoGLP">
                            <span class="float-left"></span>
                            <span class="float-right">Realizar apontamento
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-4">
                    <div class="card text-white o-hidden h-100" style="background-color: #DC143C">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-plug"></i>
                            </div>
                            <div class="mr-5">Consumo Energia Cemig</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/scm/public_html/apontamentoConsumoCemig">
                            <span class="float-left"></span>
                            <span class="float-right">Realizar apontamento
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-4">
                    <div class="card text-white o-hidden h-100" style="background-color: #FF8C00">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-location-arrow"></i>
                            </div>
                            <div class="mr-5">Consumo Energia Locais</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/scm/public_html/apontamentoConsumoLocais">
                            <span class="float-left"></span>
                            <span class="float-right">Realizar apontamento
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-4">
                    <div class="card text-white o-hidden h-100" style="background-color: #00CED1">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-rocket"></i>
                            </div>
                            <div class="mr-5">Apontamento Produção</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/scm/public_html/apontamentoProducao">
                            <span class="float-left"></span>
                            <span class="float-right">Realizar apontamento
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="erro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro ao realizar a operação! Contate o T.I.!</h5>
                </div>
                <div class="modal-body">
                    <center>ERRO: <div id="erroDiv"></div></center>
                    <center><a class="btn btn-danger text-center" href="/scm/public_html/controleGeradores">OK</a></center>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}

    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="js/sb-admin.min.js"></script>

    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#2").removeClass('nav-item');
            $("#2").addClass("nav-item active");
        });
    </script>


{% endblock %}
