{% extends "layout/layout.html.twig" %}

{% block title %}- Dashboard{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="libs/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.structure.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="libs/fullcalendar/fullcalendar.css" />
    <style>
        #calendario{
            position: relative;
            width: 70%;
            margin: 0px auto;
        }        
    </style>
{% endblock %}
{% block content %}
    {{ parent()}} 
{% endblock %}

{% block corpo %}
    <h4 class="text mb-4" style="color: #006c3a" >Apontamento de Dados - Consumo Diesel</h4>

    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">
        <div class="container-fluid" style="padding-left: 0px">
            <div class="row">
                <div class="col-md-1 " >
                    <a class=" btn btn-primary" data-toggle="modal" data-target="#cadastro" onclick="atualizarConsumoInicial();" style="margin-top: 0px;color: #fff;font-size: 12px;margin-bottom: 5px" title="Adicionar apontamento"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</a>
                </div>
                <div class="col-md-11 ">
                    <div id='calendario' style="margin-top: 0px">
                        <input id="url" value="{{url}}" hidden="" />
                    </div>      
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Apontamento de consumo de Diesel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formCadastro"  name="formCadastro"  class="form" method="POST" enctype="multipart/form-data" >
                        {% if geradores != null%}
                            <label for="gerador">Gerador:</label>
                            <select id="gerador" required="" class="form-control" onchange="atualizarConsumoInicial();" >
                                {% for gerador in geradores %}
                                    <option value="{{gerador.idSCMGerador}}" class="form-control" > {{gerador.descricao}} | {{gerador.local}}</option>
                                {% endfor %}
                            </select>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="dataInicial">Data inicial:</label>
                                    <input required=""  name="dataInicial" type="date" class="form-control" placeholder="Data ..." id="dataInicial"/>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="dataFinal">Data final:</label>
                                    <input required=""  name="dataFinal" type="date" class="form-control" placeholder="Data ..." id="dataFinal"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="consumoInicial">Consumo inicial:</label>
                                    <input required=""  name="consumoInicial" type="number" class="form-control" placeholder="Consumo inicial ..." id="consumoInicial"/>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="consumoFinal">Consumo final:</label>
                                    <input required=""  name="consumoFinal" type="number" class="form-control" placeholder="Consumo final ..." id="consumoFinal"/>
                                </div>
                                <div class="col-md-12 ">
                                    <div id="avisoFinalMaiorInicial" style="margin-top: 5px">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class=" btn btn-primary" style="margin-top: 20px;"> Salvar</button>
                        {% else %}
                            <label for="gerador">Gerador:</label>
                            <select id="gerador" required="" class="form-control" >
                                <option value="0" class="form-control" > Sem geradores cadastrdos</option>
                            </select>
                            <label for="dataReferencia">Data referência:</label>
                            <input required=""  name="dataReferencia" type="date" class="form-control" placeholder="Data ..." id="dataReferencia"/>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="consumoInicial">Consumo inicial:</label>
                                    <input required=""  name="consumoInicial" type="number" class="form-control" placeholder="Consumo inicial ..." id="consumoInicial"/>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="consumoFinal">Consumo final:</label>
                                    <input required=""  name="consumoFinal" type="number" class="form-control" placeholder="Consumo final ..." id="consumoFinal"/>
                                </div>
                                <div class="col-md-12 ">
                                    <div id="avisoFinalMaiorInicial" style="margin-top: 5px">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class=" btn btn-primary"  disabled="" style="margin-top: 20px;"> Salvar</button>
                        {% endif %}
                    </form>        
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="infoApontamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Informação consumo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formInformacao"  name="formInformacao"  class="form" method="POST" enctype="multipart/form-data" >
                        <input hidden="" name="idApontamentoInfo" type="text" class="form-control" id="idApontamentoInfo"/>
                        <input hidden="" name="idGeradorInfo" type="text" class="form-control" id="idGeradorInfo"/>
                        <div class="row">
                            <div class="col-md-12">
                                <b>Informações apontamento do dia</b>
                            </div>
                            <div class="col-md-6 ">
                                <label for="localizacaoInfo">Localização:</label>
                                <input disabled="" name="localizacaoInfo" type="text" class="form-control" id="localizacaoInfo"/>
                                <label for="dataInfo">Data:</label>
                                <input disabled="" name="dataInfo" type="text" class="form-control"  id="dataInfo"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="secadorInfo">Gerador:</label>
                                <input disabled="" name="geradorInfo" type="text" class="form-control" id="geradorInfo"/>
                                <label for="consumoMedioInfo">Consumo médio:</label>
                                <input disabled="" name="consumoMedioInfo" type="text" class="form-control"  id="consumoMedioInfo"/>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <b>Informações apontamento do período</b>
                            </div>
                            <div class="col-md-6 ">
                                <label for="dataInicialInfo">Data inicial:</label>
                                <input disabled="" name="dataInicialInfo" type="text" class="form-control"  id="dataInicialInfo"/>
                                <label for="valorInicialInfo">Consumo inicial:</label>
                                <input disabled="" name="consumoInicialInfo" type="number" class="form-control"  id="consumoInicialInfo"/>
                            </div>
                            <div class="col-md-6 ">
                                <label for="dataFinalInfo">Data final:</label>
                                <input disabled="" name="dataFinalInfo" type="text" class="form-control"  id="dataFinalInfo"/>
                                <label for="valorFinalInfo">Consumo final:</label>
                                <input disabled=""  name="consumoFinalInfo" type="number" class="form-control" id="consumoFinalInfo"/>
                            </div>
                            <div class="col-md-12">
                                <label for="consumoTotalInfo">Consumo total:</label>
                                <input disabled=""  name="consumoTotalInfo" type="number" class="form-control" id="consumoTotalInfo"/>
                            </div>
                        </div>

                        <a class=" btn" onclick="desativar();"style="margin-top: 20px;color: #C82333;font-size: 12px;background-color: #fff; float: right" title="Deletar apontamento"><i class="fa fa-trash" aria-hidden="true"></i> Deletar apontamento</a>

                    </form>        
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="desativar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Deletar apontamento</h5>

                </div>
                <div class="modal-body">
                    <form  id="formDesativar"  name="formDesativar"   class="form" method="POST" enctype="multipart/form-data" >
                        <label for="nomeDesativar">Deseja realmente deletar o apontamento?</label>
                        <input hidden="" name="idDesativar" type="text" class="form-control"  id="idDesativar"/><br>
                        <center>
                            <a class=" btn btn-dark" href="/scm/public_html/apontamentoDiesel" style="margin-top: 5px;color: #fff;font-size: 12px" title="Cancelar"></i> Cancelar</a>
                            <button type="submit" class=" btn btn-danger" style="margin-top: 5px;">Desativar</button>
                        </center>
                    </form>        
                </div>
            </div>
        </div>
    </div>   



    <div class="modal fade" id="sucessoDesativar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Apontamento excluído com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/apontamentoDiesel">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sucessoEditar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dados do atualizados com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/apontamentoDiesel">OK</a></center>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="sucessoCadastro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Apontamento realizado com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/apontamentoDiesel">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="erro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro ao realizar a operação! Contate o T.I.!</h5>
                </div>
                <div class="modal-body">
                    <center>ERRO: <div id="erroDiv"></div></center>
                    <center><a class="btn btn-danger text-center" href="/scm/public_html/apontamentoDiesel">OK</a></center>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}

    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="js/sb-admin.min.js"></script>
    <script src="js/apontamento/apontamentoDiesel/apontamentoDiesel.js"></script>

    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
                            $(document).ready(function () {
                                $("#2").removeClass('nav-item');
                                $("#2").addClass("nav-item active");
                            });
    </script>
    <!--- full calendar -->
    <script src="libs/fullcalendar/lib/moment.min.js"></script>
    <script src="libs/fullcalendar/fullcalendar.js"></script>
    <!-- script de tradução -->
    <script src="libs/fullcalendar/locale/pt-br.js"></script>
    <script>
                            $(document).ready(function () {

                                //CARREGA CALENDÁRIO E EVENTOS DO BANCO
                                $('#calendario').fullCalendar({
                                    themeSystem: 'standard',

                                    header: {
                                        left: 'prev,next today',
                                        center: 'title',
                                        right: 'month,agendaWeek,agendaDay,listMonth'
                                    },
                                    editable: true,
                                    eventLimit: true,
                                    events: '/scm/public_html/apontamentoDieselJson',
                                    //events: $('#url').val(),
                                    displayEventEnd: true,
                                    eventClick: function (calEvent, jsEvent, view) {
                                        moment().format();

                                        $("#infoApontamento").modal();
                                        $('#geradorInfo').val(calEvent.title);
                                        $('#localizacaoInfo').val(calEvent.localizacao);
                                        // $('#dataReferenciaInfo').val(calEvent.start);
                                        $('#dataInicialInfo').val(moment(calEvent.dataInicial).format('DD/MM/YYYY'));
                                        $('#dataFinalInfo').val(moment(calEvent.dataFinal).format('DD/MM/YYYY'));

                                        $('#consumoInicialInfo').val(calEvent.valorConsumoInicial);
                                        $('#consumoFinalInfo').val(calEvent.valorConsumoFinal);
                                        $('#consumoTotalInfo').val(calEvent.valorConsumo);
                                        $('#idApontamentoInfo').val(calEvent.idApontamento);
                                        $('#idGeradorInfo').val(calEvent.idGerador);
                                        $('#dataFinalEditar').val(moment(calEvent.end).format('YYYY-MM-DD'));
                                        $('#dataInfo').val(moment(calEvent.start).format('DD/MM/YYYY'));
                                        $('#consumoMedioInfo').val(calEvent.mediaConsumo);

                                        console.log(calEvent);
                                        // change the border color just for fun
                                        $(this).css('border-color', 'red');

                                    }



                                });


                            });

    </script>
{% endblock %}
