{% extends "layout/layout.html.twig" %}

{% block title %}- Dashboard{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="libs/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.theme.css" rel="stylesheet" type="text/css"/>
    <link href="libs/jquery-ui/jquery-ui.structure.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

{% endblock %}
{% block content %}
    {{ parent()}} 
{% endblock %}

{% block corpo %}
    <h4 class="text mb-4" style="color: #006c3a" >Locais consumo de energia</h4>

    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">
        <div class="container-fluid" style="padding-left: 0px">
            <a class=" btn btn-primary" data-toggle="modal" data-target="#cadastro" style="margin-top: 0px;color: #fff;font-size: 12px;margin-bottom: 5px" title="Cadastrar nova categoria"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>

            {% if locais != null %}
                <div class="table-responsive" style="background-color: #fff;padding-top: 30px;padding-bottom: 30px">
                    <table class="table table-striped table-bordered" width="100%" id="dataTable" cellspacing="0">
                        <thead  >
                            <tr>
                                <th><center>ID</center></th>
                        <th><center>Descrição</center></th>
                        <th><center>Local</center></th>
                        <th><center>Data cadastro</center></th>
                        <th><center>Status</center></th>
                        <th><center>Ações</center></th>

                        </tr>
                        </thead>
                        <tbody>
                            {% for local in locais%}
                                <tr>       
                                    <td class="text-left">{{local.idSCMLocalEnergia}}</td>
                                    <td class="text-left">{{local.descricao}}</td>
                                    <td class="text-left">{{local.local}}</td>
                                    <td class="text-left">{{local.dataCriacao | date('d/m/Y H:i')}}</td>
                                    <td class="text-center">
                                        {% if local.status == 1%}
                                            Ativado
                                        {% else %}
                                            Desativado
                                        {% endif %}

                                    </td>
                                    <td class="text-center">
                                        {% if local.status == 1%}
                                            <a onclick="editar('{{local.descricao}}', '{{local.local}}', '{{local.idSCMLocalEnergia}}')" title="Editar gerador" style="text-decoration: none;color: #fff">
                                                <button type="button" title="Editar gerador" class="btn btn-warning btn-sm" style="color: #fff">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                            <a onclick="desativar('{{local.idSCMLocalEnergia}}')" title="Desativar gerador" style="text-decoration: none;color: #ff0000"> 
                                                <button type="button" class="btn btn-danger btn-sm" style="color: #fff">
                                                    <i class="fa fa-close" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                        {% else %}
                                            <a  title="Editar Módulo" style="text-decoration: none;color: #fff">
                                                <button disabled="" type="button" title="Editar módulo" class="btn btn-warning btn-sm" style="color: #fff">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                            <a onclick="ativar('{{local.idSCMLocalEnergia}}')" title="Ativar Módulo" style="text-decoration: none;color: #2F4F4F"> 
                                                <button type="button" class="btn btn-success btn-sm" style="color: #fff">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>   
                                            </a>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
            {% else %}
                <div class="alert alert-danger animated fadeInUp">
                    <center>Sem locais de consumo de energia cadastrados!</center>
                </div>

            {%endif %}
        </div>
    </div>

    <div class="modal fade" id="cadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Cadastro de local consumo de energia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formCadastro"  name="formCadastro"  class="form" method="POST" enctype="multipart/form-data" >
                        <label for="descricao">Descrição:</label>
                        <input name="descricao" type="text" class="form-control" placeholder="Descrição do local..." id="descricao"/>
                        <label for="descricao">Local:</label>
                        <input name="local" type="text" class="form-control" placeholder="Local do local..." id="local"/>
                        <div id="avisoCadastro" style="margin-top: 5px"></div>
                        <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close" style="margin-top: 20px;color: #fff">Cancelar</button>
                        <button type="submit" class=" btn btn-success" style="margin-top: 20px;"> Cadastrar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Edição de local consumo de energia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formEditar"  name="formEditar"  class="form" method="POST" enctype="multipart/form-data" >
                        <label for="descricaoEdicao">Descrição:</label>
                        <input name="descricaoEdicao" type="text" class="form-control" placeholder="Descrição do gerador..." id="descricaoEdicao"/>
                        <input name="idEdicao" type="text" id="idEdicao" hidden=""/>
                        <label for="localEdicao">Local:</label>
                        <input name="localEdicao" type="text" class="form-control" placeholder="Local do gerador..." id="localEdicao"/>
                        <div id="avisoEdicao" style="margin-top: 5px"></div>
                        <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close" style="margin-top: 20px;color: #fff">Cancelar</button>
                        <button type="submit" class=" btn btn-success" style="margin-top: 20px;color: #fff"> Salvar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="desativar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Desativar local consumo de energia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formDesativar"  name="formDesativar"   class="form" method="POST" enctype="multipart/form-data" >
                        <label for="nomeDesativar">Deseja realmente desativar o local?</label>
                        <input hidden="" name="idDesativar" type="text" class="form-control"  id="idDesativar"/><br>
                        <center>
                        <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close" style="margin-top: 5px;color: #fff">Cancelar</button>
                            <button type="submit" class=" btn btn-danger" style="margin-top: 5px;">Desativar</button>
                        </center>
                    </form>        
                </div>
            </div>
        </div>
    </div>   

    <div class="modal fade" id="ativar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Ativar local consumo de energia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formAtivar"  name="formAtivar"   class="form" method="POST" enctype="multipart/form-data" >
                        <label for="nomeDesativar">Deseja realmente ativar o local?</label>
                        <input hidden="" name="idAtivar" type="text" class="form-control"  id="idAtivar"/><br>
                        <center>
                        <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close" style="margin-top: 5px;color: #fff">Cancelar</button>
                            <button type="submit" class=" btn btn-success" style="margin-top: 5px;">Ativar</button>
                        </center>
                    </form>        
                </div>
            </div>
        </div>
    </div>   

    <div class="modal fade" id="sucessoAtivar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Local ativado com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/locaisEnergia">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sucessoDesativar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Local desativado com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/locaisEnergia">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sucessoEditar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dados do atualizados com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/locaisEnergia">OK</a></center>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="sucessoCadastro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Local cadastrado com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/locaisEnergia">OK</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="erro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro ao realizar a operação! Contate o T.I.!</h5>
                </div>
                <div class="modal-body">
                    <center>ERRO: <div id="erroDiv"></div></center>
                    <center><a class="btn btn-danger text-center" href="/scm/public_html/locaisEnergia">OK</a></center>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}

    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="js/sb-admin.min.js"></script>

    <script src="js/localEnergia/localEnergia.js" type="text/javascript"></script>
    <script src="libs/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $("#9").removeClass('nav-item');
                                                    $("#9").addClass("nav-item active");
                                                });
    </script>
{% endblock %}
