{% extends "layout/layout.html.twig" %}

{% block head %}
    {{ parent()}} 

    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ parent()}} 

{% endblock %}

{% block corpo %}
    <h4 class="text mb-4" style="color: #006c3a" >Perfil</h4>
    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">  
        <form  id="form"  name="form"  class="form col-12" method="POST" enctype="multipart/form-data" >
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <label for="nomeE"><b>Nome:</b></label>
                    <input name="nomeE" type="text" class="form-control"  id="nomeE"  value="{{dados.nome}}"/>
                    <label for="emailE"><b>E-mail:</b></label>
                    <input name="emailE" readonly="" type="text" class="form-control" placeholder="Email.." id="emailE" value="{{dados.email}}"/>
                    <label for="senhaE"><b>Senha:</b></label>
                    <input name="senhaE" type="password" class="form-control" placeholder="Senha.." id="senhaE" value="{{dados.senha}}"/>
                </div>
                <div class="col-md-6 col-lg-6">
                    <label for="funcaoE"><b>Função:</b></label>
                    <input name="funcaoE" type="text" class="form-control" id="funcaoE" value="{{dados.funcao}}"/>
                    <label for="usuarioE"><b>Usuário:</b></label>
                    <input name="usuarioE" type="text" readonly="" class="form-control" placeholder="Usuário.." id="usuarioE" value="{{dados.usuario}}"/>
                    <label for="confirma"><b>Confirma senha:</b></label>
                    <input name="confirma" type="password" class="form-control" placeholder="Senha.." id="confirma" value="{{dados.senha}}"/>
                    <input name="idE" type="hidden" class="form-control" id="idE" value="{{dados.idUsuario}}"/>
                </div>
            </div>
            <div id="avisoSenha" style="margin-top: 5px"></div>
            <div id="aviso" style="margin-top: 5px"></div>
            <button type="submit" class="btn btn-success" style="margin-top: 20px;float: right">Atualizar</button>
        </form>      
    </div>


    <div class="modal fade" id="sucesso" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Perfil atualizado com sucesso!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/scm/public_html/">OK</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="erro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erro ao realizar a operação! Contate o T.I.!</h5>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-danger text-center" href="/scm/public_html/controlePerfil">OK</a></center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#8").removeClass('nav-item');
            $("#8").addClass("nav-item active");
        });
    </script>
    <script src="js/perfil/perfil.js" type="text/javascript"></script> 

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/sb-admin.min.js"></script>

{% endblock %}
